* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar style here...................  */
.main-container {
  background-color: gainsboro;
}

.main-container .fashion {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  gap: 5px;
}

.fashion .item {
  border: 1px solid black;
  padding: 5px;
  width: 100px;
  text-align: center;
  font-size: 20px;
}

.fashion .item-tow {
  border: 1px solid black;
  padding: 5px;
  width: 150px;
  text-align: center;
  font-size: 20px;
}

/* color scheme switcher here......................  */

.color-content {
  text-align: center;
  margin-top: 30px;
  max-width: auto;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.container-color .button {
  border: 2px solid black;
  /* padding: 30px 50px; */
  width: 100px;
  height: 100px;
  text-decoration: none;
  border-radius: 10px;
}

#gray {
  background-color: gray;
}
#white {
  background-color: white;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
.color-above {
  margin-top: 40px;
  text-align: center;
}

/* bmi calculator here ............................ */

.container {
  text-align: center;
  margin-top: 40px;
  max-width: auto;
}

/* 
.input-height{
  margin-top: 20px;
  gap: 20px;
} */

.cal-input {
  margin-top: 20px;
}

.inp-style {
  padding: 10px;
}

.btn-cal {
  margin: 30px;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  background-color: gray;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

#weight-guide {
  margin-top: 20px;
}

p {
  margin-top: 10px;
  color: black;
}

#result {
  border: 2px solid black;
  padding: 20px 10px;
  max-width: 30%;
  margin: auto;
}

/* clock time here ,,,,,,,,,,,,,,,,,,, */
.container-clock {
  display: flex;
  justify-content: center;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px 40px;
  background-color: black;
  width: 40%;
  height: 200px;
  max-width: auto;
}

#banner {
  color: white;
}

#clock {
  margin-top: 20px;
  background-color: yellow;
  width: 130px;
  padding: 10px;
  text-align: center;
}


/* projects number 3........... */

#wrapper{
  margin-top: 20px;
   background-color: gray;
   text-align: center;
   width: 100%;
   height: 500px;
}


.num-guss{
   background-color: black;
   padding: 10px;
   text-align: center;
   color: white;
}

.form{
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#guess{
   font-size: 40px;
   color: white;
   font-weight: bold;
}

#guessfield{
  margin-top: 10px;
  padding: 10px;
}

#subt{
  margin-top: 20px;
  padding: 8px;
  background-color: black;
  color: white;
  width: 180px;
  border-radius: 10px;
}

 .resultPares p{
  color: white;
}
